NEXT_PUBLIC_ENV=local
NEXT_PUBLIC_BACKEND_URL=http://localhost:5050
NEXT_PUBLIC_SUPABASE_URL=https://saniidemixcebrryacsb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhbmlpZGVtaXhjZWJycnlhY3NiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTE2NDc1NzcsImV4cCI6MjAwNzIyMzU3N30.5OihnIoaIwsgJtbpYe3mzU1gD6GvLVEQOiyNvw1JWak
NEXT_PUBLIC_JUNE_API_KEY=<change-me>
